.section {
	&__info01 {
		position: relative;

		@include respond(tab-landscape) {
			padding-top: 5rem;
		}
		@include respond(phone) {
			padding-top: 1rem;
		}
	}
}

.info01,
.info05 {
	&__left {
		justify-self: center;
		align-self: start;
		z-index: 10;
	}
	&__right {
		justify-self: center;
		align-self: center;
		background-image: url(../../images/hero_slider.jpeg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 30rem;

		@include respond(phone) {
			height: 10rem;
		}
	}
}

// .info05 {
// 	&__right {
// 		@include respond(tab-landscape) {
// 			display: none;
// 		}
// 	}
// }
